body {
margin: 0;
background: #006400;
text-align: center;
font-family: "Times New Roman";
font-size: 20px;
padding-left: 70px;
padding-right: 70px;
display: inline-block;
} 


h1{
	color: #000000;
	text-align: center;
	font-style: italic;
}

img {
	display: block;
	margin: 0 auto;
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
	
}

 ul li{
		list-style: square;
}

.dance {
	font-style: italic;
	color: #000000;
}

article {
	padding: 30px;
	
}
